body {
    background-color: deepskyblue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.mapdiv{
    width:25%;
    margin: auto;
    margin-top: 40px;

}

.mapdiv path {
    fill: #0c9b86;
    stroke: #b4d50f;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill:#f6c708;
}



.container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    overflow: hidden;
}

#weatherData {
    width: 50%;
    border-collapse: collapse;
}

#weatherData th,
#weatherData td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#weatherData th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

#weatherData tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

#weatherData tbody tr:hover {
    background-color: #f0f0f0;
}

